<nav class="navbar sticky-top anavbar-expand-xxl navbar-dark bg-dark justify-content-center py-0 px-1">
    <div class="content d-flex justify-content-between flex-wrap">

        <div class="d-flex align-items-center">
            <div class="nsavbar-brand me-1" [routerLink]="'home-tab'">
                <img src="assets/imgs/app-icon.png" height="30" alt="">
            </div>
            <div class="me-1" [routerLink]="'home-tab'">
                <button type="button" name="" id="" class="btn btn-danger" (click)="ClearAllData()" data-bs-toggle="modal" data-bs-target="#mymodal">
                    CLEAR ALL
                </button>        
            </div>
        </div>

        <div class="d-flex align-items-center">
            <div class="ms-1" [routerLink]="'sarneg-tab'">
                <img src="assets/imgs/sarneg-image.png" height="30" alt="">
            </div>
            <div class="ms-1" [routerLink]="'vigenere-tab'">
                <img src="assets/imgs/vigenere-image.png" height="30" alt="">
            </div>
            <div class="ms-1" [routerLink]="'reports-page'">
                <img src="assets/imgs/reports-image.png" height="30" alt="">
            </div>

            <!--  -->

            <button class="ms-2 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'sarneg-tab'">kodowanie SARNEG </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'vigenere-tab'">kodowanie Vigenere</a>
                </li>
                <li *ngFor="let item of getFavouriteReports()" class="nav-item" (click)="setCurrentReport(item)">
                    <a class="nav-link" [routerLink]="'reports-page'">{{item.name}}</a>
                </li>




                <li class="nav-item dropdown d-flex justify-content-end ">
                    <div class="col-4 "> </div>
                    <div class="col-8 d-flex flex-column">

                        <button type="button" class="btn btn-secondary dropdown-toggle d-flex justify-content-end"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Wszystkie Raporty
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a *ngFor="let item of reports" class="dropdown-item d-flex justify-content-end"
                                [routerLink]="'reports-page'">{{item.name}}</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'vigenere-tab'">Help </a>
                </li>
            </ul>
        </div>
    </div>
</nav>





<div id="mymodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
 