@import './../../../styles';

button {
    width: 10rem;
    height: 10rem;
    background-color: #234e3a;
    // background-image: url("assets/imgs/sarneg-image.png");

    img {
        height: 100%;
        width: 100%;
    }
}