<div class="p-4">
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block"
        (click)="generateJSON()">genereateJSON</button>
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block"
        (click)="applyJSON()">applyJSON</button>
    <div class="input-group mb-2">
        <span class="input-group-text">Application data JSON</span>
        <textarea [(ngModel)]="procedureJSON" class="form-control" aria-label="With textarea" rows="10"></textarea>
    </div>
</div>