<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-6 ">
        <app-menu-tile [name]="'1'" [icon]="''"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'1'" [icon]="''"></app-menu-tile>
    </div>
</div>
<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-6 ">
        <app-menu-tile [name]="'1'" [icon]="''"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'1'" [icon]="''"></app-menu-tile>
    </div>
</div>

