<div class="row justify-content-md-center">
    <div class="col-6 ">
        <app-menu-tile [name]="'sarneg'" [routerLink]="[ '/sarneg-page']"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'vigenere'" [routerLink]="[ '/vigenere-page']"></app-menu-tile>
    </div>
</div>


<div class="row justify-content-md-center">
    <div class="col-6 ">
        <app-menu-tile [name]="'reports'"></app-menu-tile>
    </div>
</div>

<button
    type="button"
    class="btn btn-primary"
 (click)="savels()">
    savelocal
</button>
<button
    type="button"
    class="btn btn-primary"
 (click)="loadls()">
    readlocal
</button>

<p>{{myvar}}</p>

