<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-6 ">
        <app-menu-tile [name]="'sarneg'" [routerLink]="[ '/sarneg-page']"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'vigenere'" [routerLink]="[ '/vigenere-page']"></app-menu-tile>
    </div>
</div>

<picture>
    <img
        src="file://///FILESERVER/Zdjecia-SSHD/aa.jpg"
        class="img-fluid"
        alt="image desc"
    />
</picture>



<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-6 ">
        <app-menu-tile [name]="'reports'"></app-menu-tile>
    </div>
</div>

