.buttons {
    background-color: lightgray;
}

.content {
    overflow-y: scroll;
    height: 85vh;

    .stages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;

        .btn {
            width: 10rem;

            svg {
                font-size: 2rem;
            }
        }
    }
}