<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">Application Settings ({{appSettingsJSON.length}})</h5>
        <textarea [(ngModel)]="appSettingsJSON" class="form-control" rows="5" cols="1000" aria-label="Default"
            aria-describedby="inputGroup-sizing-default"></textarea>
        <div class="d-flex justify-content-between my-2">
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block col-2 me-2"
                [cdkCopyToClipboard]="appSettingsJSON" [cdkCopyToClipboard]="appSettingsJSON"
                (cdkCopyToClipboardCopied)="alert('Application Settings skopiowane do schowka')">
                <i class="fa fa-copy" aria-hidden="true"></i></button>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="saveAppSettings()">
                Paste here and Apply
                <i class="fa fa-paste" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>




<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">Application Data ({{appDataJSON.length}})</h5>
        <textarea [(ngModel)]="appDataJSON" class="form-control" rows="5" cols="1000" aria-label="Default"
            aria-describedby="inputGroup-sizing-default"></textarea>
        <div class="d-flex justify-content-between my-2">
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block col-2 me-2"
                [cdkCopyToClipboard]="appDataJSON" [cdkCopyToClipboard]="appDataJSON"
                (cdkCopyToClipboardCopied)="alert('Application Data skopiowane do schowka')">
                <i class="fa fa-copy" aria-hidden="true"></i></button>
            <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="saveAppData()">
                Paste here and Apply
                <i class="fa fa-paste" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>