<div class="input-group mb-3">
    <div class="input-group-text col-12 text-wrap report-header" id="inputGroup-sizing-default1">
        {{report.name | uppercase}} Creator</div>
</div>



<div *ngFor="let line of report.lines" class="input-group mb-3 report-lines">
    <div class="input-group-text col-1 text-wrap line-header" id="inputGroup-sizing-default1">
        {{line.lineHeader | uppercase}}</div>


    <div class="input-group-text col-11 text-wrap align-content-start d-flex flex-column p-0"
        id="inputGroup-sizing-default2">
        <div class="line-desc p-1">
            <div class="desc-header">{{line.descriptionHeader | uppercase}}</div>
            <div *ngFor="let linedesc of line.descriptionLines" class="desc-content-line">{{linedesc}}</div>
        </div>

        <div class="d-flex flex-wrap line-value" [ngClass]="{
            'flex-column': line.lineValues.length<=2,
            'flex-row': line.lineValues.length>2,
            }">
            <div *ngFor="let lineValue of line.lineValues" class="d-flex m-1 align-items-center">
                <small class="line-value-label me-1" id="inputGroup-sizing-default2">{{lineValue.label}}</small>
                <input [(ngModel)]="lineValue.value" type="number" class="form-control " [ngClass]="{
                        'line-value-short':lineValue.valueSize === lineValueSizes.short,
                        'line-value-medium':lineValue.valueSize === lineValueSizes.medium,
                        'line-value-long':lineValue.valueSize === lineValueSizes.long,
                        }" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>

</div>


<div class="card m-1">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    b5
  </div>
</div>

