<div class="card mb-4">
    <h5 class="card-header p-1 text-center">
        <app-notepad-navbar (prevPage)="prevPage()" (addPage)="addPage()" (removePage)="showDeletePageModal()"
            (nextPage)="nextPage()"></app-notepad-navbar>
            <small class="text-muted" for="exampleFormControlTextarea1"> Notatnik, strona: {{getPageIdx(currentPage)+1}} / {{pages.length}}</small>
    </h5>
    <div class="card-body p-0">
        <div class="form-group text-center">
            <textarea [(ngModel)]="currentPage.pageContent" class="form-control" id="exampleFormControlTextarea2" rows="15"
                maxlength="4000" placeholder="podreczna notatka, max 4000 znakow"></textarea>
        </div>

    </div>
    <div class="card- p-1">
        <app-notepad-navbar (prevPage)="prevPage()" (addPage)="addPage()" (removePage)="showDeletePageModal()"
        (nextPage)="nextPage()"></app-notepad-navbar>
    </div>
</div>



<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Kasuj stronę:</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>Na pewno wykasować stronę?</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger w-25" (click)="closeModal(CRUD_METHODS.DELETE)">Tak</button>
        <button type="button" class="btn btn-secondary w-25" (click)="closeModal('Close click')">Anuluj</button>
    </div>
</ng-template>