<p>notepad-page works!</p>
<div>
    <button type="button" class="btn btn-primary">
        <i class="fas fa-chevron-left    "></i>
        Prev Page</button>
    <button type="button" class="btn btn-primary">New Page
        <i class="fas fa-file    "></i>
    </button>
    <button type="button" class="btn btn-primary">Next Page
        <i class="fas fa-chevron-right    "></i>
    </button>
</div>


<div class="form-group">
    <label for="exampleFormControlTextarea1">Quick notepad</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
</div>



<div>
    <button type="button" class="btn btn-primary">Prev</button>
    <button type="button" class="btn btn-primary">Next</button>
</div>