<div><b>IN PROGRESS</b></div>

<div *ngFor="let line of correspondenceBook" class="d-flex flex-row mb-2">

    <div *ngIf="line.transmitDirection===transmitDirections.INCOMING" class="col-1"></div>


    <div class="card w-100">
        <div class="card-body p-0">
            <h6 class="card-title p-1 m-0 text-muted header d-flex flex-row justify-content-between">
                <small class="">{{getTimeDTG(line.timestamp)}}</small>
                <small class="">
                    <span class="mx-1">{{line.senderCodename}}</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="mx-1">{{line.recipientCodename}}</span>
                </small>
            </h6>
            <p class="card-text incoming p-1" [ngClass]="{
                'outgoing': line.transmitDirection===transmitDirections.OUTGOING,
                'incoming': line.transmitDirection===transmitDirections.INCOMING,
            
            }">
                {{line.content}}
            </p>
        </div>
    </div>

    <div *ngIf="line.transmitDirection===transmitDirections.OUTGOING" class="col-1"></div>

</div>








<div>
    <app-help-tile [content]="'
mozan mergowac kilka ksiazek i export do czytelnej posatci



'">
    </app-help-tile>

