
<div ><b>IN PROGRESS</b></div>

<div>
    <div *ngFor="let line of correspondenceBook" class="input-group input-group-sm mb-3">

        <div class="input-group-text text-wrap d-flex flex-column line-header">
            <div>
                <span class="badge bg-small bg-secondary">{{getTime(line.timestamp)}}</span>
            </div>
            <div>
                <span *ngIf="line.transmitDirection===transmitDirections.OUTGOING"
                    class="badge bg-small bg-primary">{{'Nadawanie DO >>>>' | uppercase}}</span>
                <span *ngIf="line.transmitDirection===transmitDirections.INCOMING"
                    class="badge bg-small bg-success">{{'>>> Odbiór OD'
                    | uppercase}}</span>
            </div>
            <div>
                <span class="badge bg-small bg-secondary">{{line.codename}}</span>
            </div>
        </div>

        <div class="form-control text-wrap content">
            {{line.content}}
        </div>

    </div>
</div>




<div class="input-group mb-3">
    <button class="input-group-text btn btn-outline-secondary p-0 m-0" type="button">Button1</button>
    <button class="input-group-text btn btn-outline-secondary p-0 m-0" type="button">Button2</button>
    <input type="text" class="input-group-text form-control" placeholder=""
        aria-label="Example text with two button addons">
</div>


<div class="input-group mb-3">
    <button class="input-group-text btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Dropdown</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
    <input type="text" class="input-group-form form-control m-0" aria-label="Text input with dropdown button">
</div>




<div class="input-group">
    <button class="m-0 btn btn-outline-secondary dropdown-toggle name" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">'dec?.name'</button>
    <div class="dropdown-menu dropdown-menu-end">
        <div><span class="dropdown-item">adasdasd</span></div>
    </div>

    <span class="input-group-text p-1" id="basic-addon1">jesli TAK to:</span>

    <button class="input-group-text btn btn-outline-primary m-0 next-block" type="button">pokaz
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
    </button>

</div>