<div>
    <button type="button" class="btn btn-primary" (click)="prevPage.emit()">
        <i class="fas fa-chevron-left    "></i>
        Prev Page</button>
    <button type="button" class="btn btn-primary" (click)="addPage.emit()">Add Page
        <i class="fas fa-file    "></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="removePage.emit()">Remove Page
        <i class="fas fa-trash    "></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="nextPage.emit()">Next Page
        <i class="fas fa-chevron-right    "></i>
    </button>
</div>