<div class="d-flex justify-content-between my-1">
    <button type="button" class="btn btn-primary" (click)="prevPage.emit()">
        <i class="fas fa-chevron-left    "></i>
        <i class="fas fa-chevron-left    "></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="addPage.emit()">
        <i class="fas fa-file    "></i>
    </button>
    <button type="button" class="btn btn-danger" (click)="removePage.emit()">
        <i class="fas fa-trash    "></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="nextPage.emit()">
        <i class="fas fa-chevron-right    "></i>
        <i class="fas fa-chevron-right    "></i>
    </button>
</div>