<!-- <app-help-tile [content]="helpLines"></app-help-tile> //km -->

<div class="">
    <div *ngFor="let row of favouritesTilesRows" class="d-flex justify-content-between">
        <div *ngFor="let tile of row" class="tile">
            <app-menu-tile [name]="tile.label" [routerLink]="['/' + tile.link]"
                [isLabelShowed]="tile.isLabelShowed"></app-menu-tile>
        </div>
    </div>
</div>
<hr>

<div class="">
    <div *ngFor="let row of tilesRows" class="d-flex justify-content-between">
        <div *ngFor="let tile of row" class="tile">
            <app-menu-tile [name]="tile.label" [routerLink]="['/' + tile.link]"
                [isLabelShowed]="tile.isLabelShowed"></app-menu-tile>
        </div>
    </div>
</div>
<hr>

<!-- DEPRECATED //km -->
 <div class="d">DEPRECATED</div>
<div class="d-flex justify-content-between">
    <div class="tile">
        <app-menu-tile [name]="'Kodowanie'" [routerLink]="[ '/encodings-page']" [isLabelShowed]="true"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'sarneg'" [routerLink]="[ '/sarneg-tab']"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'vigenere'" [routerLink]="[ '/vigenere-tab']"></app-menu-tile>
    </div>
</div>


<div class="d-flex justify-content-between">
    <div class="tile">
        <app-menu-tile [name]="'Raporty'" [iconName]="'reports'" [routerLink]="[ '/reports-page']"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'Sciągawka'" [routerLink]="[ '/cheatsheet-page']" [isLabelShowed]="true"></app-menu-tile>
    </div>
</div>