<div class="d-flex">
    <div class="col-6 ">
        <app-menu-tile [name]="'sarneg'" [routerLink]="[ '/sarneg-page']"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'vigenere'" [routerLink]="[ '/vigenere-page']"></app-menu-tile>
    </div>
</div>


<div class="row">
    <div class="col-6 ">
        <app-menu-tile [name]="'reports'"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'ksiazka korespondencji'" [isLabelShowed]="true"></app-menu-tile>
    </div>
</div>


<div class="row">
    <div class="col-6 ">
        <app-menu-tile [name]="'dane z TDR'" [isLabelShowed]="true"></app-menu-tile>
    </div>
    <div class="col-6 ">
        <app-menu-tile [name]="'Ustawienia wszelakie'" [isLabelShowed]="true"></app-menu-tile>
    </div>
</div>


<div class="mb-3">
    <label for="myvar" class="form-label">myvar</label>
    <input [(ngModel)]="myvar" type="text" class="form-control" name="" id="myvar" aria-describedby="helpId"
        placeholder="" />
    <small id="helpId" class="form-text text-muted">Help text</small>
</div>


<button type="button" class="btn btn-primary" (click)="savels()">
    savelocal
</button>
<button type="button" class="btn btn-primary" (click)="loadls()">
    readlocal
</button>

<p>{{myvar}}</p>




