<div class="d-flex">
    <div class="tile">
        <app-menu-tile [name]="'sarneg'" [routerLink]="[ '/sarneg-tab']"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'vigenere'" [routerLink]="[ '/vigenere-tab']"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'reports'" [routerLink]="[ '/reports-page']"></app-menu-tile>
    </div>
</div>


<div class="d-flex">
    <div class="tile">
        <app-menu-tile [name]="'ksiazka korespondencji'" [routerLink]="[ '/correspondence-book-page']"
            [isLabelShowed]="true"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'import export z TDR'" [routerLink]="[ '/tdr-data-page']" [isLabelShowed]="true"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'Sciągawka'" [routerLink]="[ '/cheatsheet-page']" [isLabelShowed]="true"></app-menu-tile>
    </div>
</div>



<div class="d-flex">
    <div class="tile">
        <app-menu-tile [name]="'Notepad'" [routerLink]="[ '/notepad-page']" [isLabelShowed]="true"></app-menu-tile>
    </div>
    <div class="tile">
        <app-menu-tile [name]="'Ustawienia wszelakie'" [routerLink]="[ '/settings-page']"
            [isLabelShowed]="true"></app-menu-tile>
    </div>
</div>


<div class="row">
</div>


<div class="mb-3">
    <label for="myvar" class="form-label">myvar</label>
    <input [(ngModel)]="myvar" type="text" class="form-control" name="" id="myvar" aria-describedby="helpId"
    placeholder="" />
    <small id="helpId" class="form-text text-muted">Help text</small>
    <div >appData size: {{appdatasize}}</div>
</div>


<button type="button" class="btn btn-primary" (click)="saveAppData()">
    Save App Data
</button>
<button type="button" class="btn btn-primary" (click)="loadAppData()">
    Load App Data
</button>

<p>{{myvar}}</p>