<p>dlugosc fali: lambda=c/f</p>
<div class="my-2">
    <div *ngFor="let wave of wavesFreqsLengthsPairs, index as idx" class="input-group mb-1">
        <span class="input-group-text px-1  text-center">f{{idx}} [MHz]</span>
        <input [(ngModel)]="wave.freq" type="number" class="form-control text-center" placeholder="f [MHz]" (change)="udpateLength(wave)"
            value="{{wave.freq}}">
        <span class="input-group-text ps-2 px-2  text-center">½ λ{{idx}} [m]</span>
        <input [(ngModel)]="wave.length" type="number" class="form-control text-center" placeholder="½ λ [m]" (change)="updateFreq(wave)"
            value="{{wave.length}}">
    </div>
</div>


<p></p>
<p>paramtery RRC</p>
<p></p>
<p>wzory:</p>
<p>horyzont radiowy</p>
<p></p>
<p>alfapbet NATO</p>